<!DOCTYPE html>
<html lang="de">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>EGS Visualisierung</title>
		<meta charset="utf-8">
		<style>
			#display { position: fixed; top: 50px; left:0; background: #fed; right:0; bottom: 50px; }
			.spinner { width: 70px; text-align: center; line-height:1; }
			.spinner > div { 
				width: 16px; height: 16px; background-color: #333; 
				border-radius: 100%; display: inline-block;
				-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both; 
				animation: sk-bouncedelay 1.4s infinite ease-in-out both;
			}
			.spinner .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }
			.spinner .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }
			@-webkit-keyframes sk-bouncedelay { 
				0%, 80%, 100% { -webkit-transform: scale(0) } 
				40% { -webkit-transform: scale(1.0) } 
			}
			@keyframes sk-bouncedelay { 
				0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); } 
				40% {  -webkit-transform: scale(1.0); transform: scale(1.0); }
			}
		</style>
	</head>
	<body data-defaultSource="https://docs.google.com/spreadsheets/d/1z0wPbfVoUCu6buGLWJPDcxtESDJJXNRvjhKQt6fDDqQ/edit#gid=0">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">EGS Betrachter</a>
					<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#primaryNav" aria-controls="primaryNav" aria-expanded="false">
						<span class="visually-hidden">Navigation einblenden</span>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="primaryNav">
					</div>
				</div>
			</nav>
			
			<div id="display">
				<div aria-live="polite" aria-atomic="true">
					<div id="toast-container" class="toast-container position-rel bottom-0 end-0 p-3">
						<!-- toasts are created dynamically -->
					</div>
				</div>
			</div>
			
			<nav class="navbar navbar-expand-lg fixed-bottom bg-body-tertiary">
				<div class="container-fluid">
					<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#secondaryNav" aria-controls="secondaryNav" aria-expanded="false">
						<span class="visually-hidden">Navigation einblenden</span>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="secondaryNav">
					</div>
			</nav>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="dataSourceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="myModalLabel">Adresse der Datenquelle</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div id="dataSourceModal-error" style="display:none" class="alert alert-danger fade in" role="alert">
							Die eingegebene Datenquelle ist kein gültiger Link zu einer Google Tabelle!
						</div>
						<p>
							Die Datenquelle muss eine URL zu einer Google Tabelle sein. 
							Diese Tabelle muss nach dem Muster unter <a target="_blank" href="https://docs.google.com/spreadsheets/d/1z0wPbfVoUCu6buGLWJPDcxtESDJJXNRvjhKQt6fDDqQ/edit#gid=0">https://docs.google.com/spreadsheets/d/1z...qQ/edit#gid=0</a> aufgebaut sein. 
							Sie enthält eine Übersicht mehrerer Konstruktionen mit Links zur der genauen Spezifikation.
						</p>
						<div class="input-group">
							<textarea id="dataSourceModal-input" class="form-control custom-control" rows="2" placeholder="URL zu Google Tabelle (aus Adresszeile kopiert)" style="resize:vertical"></textarea>
							<a id="dataSourceModal-reset" class="input-group-addon btn btn-default" type="button">Zurücksetzen</a>
						</div>
					</div>
					<div class="modal-footer">
						<button id="dataSourceModal-cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
						<button id="dataSourceModal-save" type="button" class="btn btn-primary" data-bs-dismiss="modal">speichern &amp; laden</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	</body>
</html>
